<div class="flex-container">
  <div class="flex-item">
    <mat-card class="example-class">
      <mat-card-header>
        <div mat-card-avatar class="avatar"></div>
        <mat-card-title>Prabeen</mat-card-title>
        <mat-card-subtitle>Payment Gateway</mat-card-subtitle>
      </mat-card-header>
      <br>
      <mat-card-content>
        <img mat-card-image src="assets/images/programming.jpg" class="card-image" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Voluptatum facilis quis tenetur totam officiis dolor eveniet 
           modi vero doloremque laboriosam, vel consequatur perferendis 
           blanditiis tempora nulla nisi! Rerum animi, a expedita molestiae 
           quos est explicabo repudiandae, eligendi id, provident itaque.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary">Proceed</button>
        <button mat-button>Cancel</button>
      </mat-card-actions>
    </mat-card>
  
  </div>
  <div class="flex-item">
    <mat-card class="example-class">
      <mat-card-header>
        <div mat-card-avatar class="avatar"></div>
        <mat-card-title>Prabeen</mat-card-title>
        <mat-card-subtitle>Payment Gateway</mat-card-subtitle>
      </mat-card-header>
      <br>
      <mat-card-content>
        <img mat-card-image src="assets/images/bg2.jpg" class="card-image" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Voluptatum facilis quis tenetur totam officiis dolor eveniet 
           modi vero doloremque laboriosam, vel consequatur perferendis 
           blanditiis tempora nulla nisi! Rerum animi, a expedita molestiae 
           quos est explicabo repudiandae, eligendi id, provident itaque.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary">Proceed</button>
        <button mat-button>Cancel</button>
      </mat-card-actions>
    </mat-card>
  
  </div>
</div>
   
   